body{
    background-color:white ;
}

h1{
    padding-left: 500px;
}
li{
 	padding-left: 500px;
}
h2{
    padding-left: 500px;
}
h3{
    padding-left: 500px;
}
img{
    padding-left: 500px;
}
p{
	padding-left: 500px;
}